.s_box {
  display: flex;
  flex-direction: column;
  height: 100%;

  > .s_area {
    flex: 1 1 auto;
    overflow: auto;
  }

  /* #ifndef H5 */
  @each $selector in $allList {
    > #{$selector}:not(.s_area) {
      flex: 0 0 auto;
    }
  }
  /* #endif */
}

/* #ifdef H5 */
.s_box > *:not(.s_area) {
  flex: 0 0 auto;
}
/* #endif */
