$fontSizeBase: 28rx;
$fontFamilyBase: arial, "Microsoft YaHei", sans-serif;
$textColorRegular: #606266;
$textColorPrimary: #303133;
$textColorSecondary: #909399;
$textColorPlaceholder: #a8abb2;
$borderColorBase: #dcdfe6;
$fillColorBase: #f0f2f5;
$colorPrimary: #409eff;
